name: Cypress Tests

on:
  workflow_dispatch: # Wouldnt be necessary in a workflow call but is necessary for manual trigger
    inputs:
      test-group:
        description: "Group of tests that should run"
        required: true
        default: "ALL"
        type: choice
        options:
          - ALL
          - Lead-management
          - Estimate
          - Contract
          - Field-boundaries
          - Producer-profile
          - Lead-evidences
          - Soc-report
          - Data-collection
          - Modeling

  workflow_call:
    inputs:
      test-group:
        description: "Group of tests that should run"
        required: true
        type: string

jobs:
  cypress-run:
    runs-on: ubuntu-latest
    steps:
      - name: Execute Cypress Suite
        run: |
          echo "Starting cypress tests suite for group: ${{ inputs.group || 'Folder 1' }}"
